{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./webpack.test.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}